/* Width of Odoo's main form */
.o_form_sheet {
  width: 98%;
  min-width: 95%;
}

/* Width of Odoo's popup forms */
@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
  }
  .model-body {
    width: 90%;
  }
}
